{% extends 'base.html.twig' %}

{% block title %}Hello FruitController!{% endblock %}

{% block body %}

    {% for fruit in fruits %}

        <p>name : {{ fruit.name }}</p>
        <p>price : {{ fruit.price }}</p>
        <a href="{{ path('app_fruit_show',{id:fruit.id}) }}">voir</a>
    {%  endfor %}
{% endblock %}
